/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 160px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav .nav-sections .default-content-wrapper nav-submenu > p {
  display: none;
}

header nav .nav-sections .default-content-wrapper .nav-submenu-wrapper img {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] {
    text-decoration: underline;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    transform-origin: center;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    transition: transform 0.5s ease;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    transform: rotate(315deg);
  }

  header nav .nav-sections .default-content-wrapper > ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper .nav-submenu-wrapper {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper .nav-submenu-wrapper img {
    display: block;
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
  }

  header nav .nav-sections .default-content-wrapper .nav-submenu  {
    display: flex;
    gap: 32px;
    max-width: 1264px;
    margin: auto;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > .nav-submenu-wrapper {
    display: block;
    position: fixed;
    left: 0;
    width: 100vw;
    top: 64px;
    padding: 16px 32px 0px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  position: relative;
}

header nav .nav-tools p {
  display: flex;
  gap: 20px;
}

.cart-popup {
  position: absolute;
  z-index: 2;
  right: 0;
  min-width: 300px;
  max-height: 300px;
  overflow: auto;
  margin-top: 10px;
  padding: 10px 10px 8px;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.cart-summary > button {
  margin-top: 20px;
  font-size: 18px;
}

header nav .nav-tools .cart-popup p {
  display: block;
  padding: 5px 0;
  font-size: 16px;
}

.cart-summary {
  padding: 20px 20px 10px;
}

.product-item {
  display: flex;
  gap: 24px;
  padding: 10px 0;
}

.product-item p:first-child {
  font-weight: bold;
}

header nav .product-item p:not(:first-child) {
  font-size: 14px;
}

.no-items:not(.d-none) {
  padding: 10px 30px;
}

.cart-summary button.tertiary {
    font-size: 14px;
    text-decoration: underline;
    margin: 0;
}