.product-details {
    display: flex;
    flex-direction: column;
}

.product-attributes a.cart-button {
    margin-right: 1em;
}

.product-details .product-title h1 {
    margin-top: 0;
}

.product-details .product-price {
    font-weight: bold;
    font-size: var(--heading-font-size-l);
}

@media (width >= 900px) {
  .product-details {
    flex-direction: unset;
    gap: 24px;
  }

  .product-details .product-image {
      flex: 1;
  }

  .product-details .product-attributes {
      flex: 2;
  }
}